{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
    <style>
        html {
            height: 100%;
        }

        body {
            height: 100%;
            background-image: url("https://images4.alphacoders.com/692/thumb-1920-692043.jpg");
            text-align: center;
            margin-top: 150px;

        }
    </style>
    <body>
    <div class="wrap" style="min-height: 100% ">
        <div class="lgn">
            <h1>{% trans "Sign Up" %}</h1>

            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>
                .{% endblocktrans %}</p>

            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit">{% trans "Sign Up" %} &raquo;</button>
            </form>
        </div>
    </div>
    </body>
{% endblock %}
