<section class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright">2020 Vicon Group. All rights deserved</p>
            </div>
            <div class="col-md-6">
                <div class="footer-icons">
                    <a href="https://www.instagram.com/?hl=ru" target="_blank" class="fa fa-instagram" style="color: black;
                    text-decoration: none;"></a>
                    <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook" style="color: black;
                    text-decoration: none;"></a>
                    <a href="https://www.pinterest.com/" target="_blank" class="fa fa-pinterest" style="color: black;
                    text-decoration: none;"></a>
                    <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube-play" style="color: black;
                    text-decoration: none;"></a>
                </div>
            </div>
        </div>
    </div>
</section>